.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
}

.card {
    /* width: 270px; */
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 14px;
}

.card-img {
    width: 100%;
    border-radius: 12px;
}